@font-face {
  font-family: "Intro";
  font-display: swap;
  src: url("../fonts/Intro-Light.woff2") format("woff2"), url("../fonts/Intro-Light.woff2") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  font-display: swap;
  src: url("../fonts/Intro-Book.woff2") format("woff2"), url("../fonts/Intro-Book.woff2") format("woff");
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  font-display: swap;
  src: url("../fonts/Intro-Regular.woff2") format("woff2"), url("../fonts/Intro-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  font-display: swap;
  src: url("../fonts/Intro-Bold.woff2") format("woff2"), url("../fonts/Intro-Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'planr-icons';
  src: url("../fonts/planr-icons.eot?u8snku");
  src: url("../fonts/planr-icons.eot?u8snku#iefix") format("embedded-opentype"), url("../fonts/planr-icons.ttf?u8snku") format("truetype"), url("../fonts/planr-icons.woff?u8snku") format("woff"), url("../fonts/planr-icons.svg?u8snku#planr-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'planr-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e906";
}

.icon-arrow-dropdown:before {
  content: "\e900";
}

.icon-arrow-next:before {
  content: "\e901";
}

.icon-arrow-prev:before {
  content: "\e902";
}

.icon-checked:before {
  content: "\e903";
}

.icon-close:before {
  content: "\e904";
}

.icon-info:before {
  content: "\e905";
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font: 1em monospace, monospace;
}

a {
  background: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font: 1em monospace, monospace;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font: 100%/1.15 inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus-visible {
  outline: #8033FF auto 1px;
}

body {
  background: #EDF0F7;
  margin: 0;
  font-family: "Intro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.js-lock {
  overflow: hidden;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.overlay.js-show {
  opacity: 0.5;
  visibility: visible;
}

.btn-primary {
  text-align: center;
  padding: 14px 60px;
  background: #8033FF;
  border: 2px solid #8033FF;
  border-radius: 20px;
  text-decoration: none;
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background: transparent;
  color: #8033FF;
}

.btn-primary:disabled {
  pointer-events: none;
  cursor: not-allowed;
  background: #D9C2FE;
}

.site__title {
  position: relative;
  text-align: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  padding: 8px 26px 9px;
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  background: #8033FF;
  border-radius: 10px 0 10px 0;
  -webkit-box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
  box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
}

.site__title::before,
.site__title::after {
  content: '';
  position: absolute;
  max-width: 16px;
  min-width: 16px;
  max-height: 16px;
  min-height: 16px;
  background: #ffffff;
  border-top-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-style: solid;
  border-color: #8033FF;
  border-radius: 100px;
  -webkit-box-shadow: 1px 4px 18px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 4px 18px rgba(0, 0, 0, 0.25);
}

.site__title::before {
  right: calc(100% - 8px);
  top: calc(100% - 8px);
}

.site__title::after {
  left: calc(100% - 8px);
  bottom: calc(100% - 8px);
}

h2 {
  text-align: center;
  color: #3D3131;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.site-description {
  color: #3D3131;
  font-size: 18px;
  font-weight: 350;
  line-height: 1.5;
}

.swiper-slide {
  height: auto;
}

.swiper-navigation {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.swiper-pagination {
  position: relative;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 24px;
}

.swiper-pagination-bullet {
  display: block;
  position: relative;
  opacity: 1;
  width: 20px;
  height: 20px;
  background: transparent;
}

.swiper-pagination-bullet::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 100px;
  overflow: hidden;
}

.swiper-pagination-bullet-active::before {
  background: #8033FF;
  width: 20px;
  height: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  outline: none;
  position: relative;
  top: 0;
  margin: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #8033FF;
  font-size: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-family: 'planr-icons';
  content: '\e902';
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  font-family: 'planr-icons';
  content: '\e901';
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: unset;
  bottom: unset;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2px;
}

.os-theme-dark > .os-scrollbar,
.os-theme-light > .os-scrollbar {
  padding: 4px 2px;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: #8033FF;
}

.os-theme-dark > .os-scrollbar:hover > .os-scrollbar-track > .os-scrollbar-handle,
.os-theme-dark > .os-scrollbar:active > .os-scrollbar-track > .os-scrollbar-handle {
  background: #D9C2FE;
}

.video {
  z-index: 10;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.video__preview picture {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.video__preview picture img,
.video__preview picture source {
  width: 100%;
  height: 100%;
  display: block;
}

.video__play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.video__play-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background: #8033FF;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.video__play-content i {
  color: #ffffff;
  font-size: 16px;
}

.video__play-content:hover {
  -webkit-transform: translate(-50%, -50%) scale(1.05);
  -ms-transform: translate(-50%, -50%) scale(1.05);
  transform: translate(-50%, -50%) scale(1.05);
}

.video__item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__item iframe {
  width: 100%;
  height: 100%;
}

.footer {
  padding: 60px 0;
  overflow: hidden;
  border-top: 1px solid #DCDCDC;
}

.footer .container {
  padding: 0;
}

.footer .logo {
  display: block;
  margin: 0 auto 40px;
  max-width: 134px;
  min-width: 134px;
  max-height: 74px;
  min-height: 74px;
}

.footer .logo img,
.footer .logo source {
  width: 100%;
  height: 100%;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: -6px -25px;
}

.footer__item {
  padding: 6px 25px;
}
.footer-item:first-child {
  padding-left: 0;
}

.footer__link {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: #3D3131;
  font-size: 18px;
  font-weight: 350;
  line-height: 1.6;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer__link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #8033FF;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer__link:hover {
  color: #8033FF;
}

.footer__link:hover::before {
  width: 100%;
}

.footer__software {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 24px auto 0;
}

.footer__software img {
  height: 49px;
  border-radius: 100px;
  overflow: hidden;
}

.footer__software span {
  display: block;
  max-width: 180px;
  margin-left: 12px;
  color: #3D3131;
  font-size: 18px;
  font-weight: 350;
  line-height: 1.54;
}

.footer__wrapper {
  padding: 0 15px;
  width: 100%;
}

.footer__wrapper.secondary {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #DCDCDC;
}

.footer__wrapper.secondary .footer__link {
  color: #6D6D6D;
}

.footer__wrapper.secondary .footer__link:hover {
  color: #8033FF;
}

.footer__copyright {
  display: block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 30px auto 0;
  color: #6D6D6D;
  font-size: 18px;
  font-weight: 350;
  line-height: 1.6;
  text-decoration: none;
  position: relative;
}
.footer__copyright:before {
  content: '';
  background: #DCDCDC;
  height: 2px;
  width: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all .3s ease-in-out;
}
.footer__copyright:hover:before {
  background: #6D6D6D;
}

.header {
  z-index: 100;
  padding: 10px 0;
  -webkit-box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
  box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: #EDF0F7;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .logo {
  z-index: 100;
  display: block;
  max-width: 73px;
  min-width: 73px;
  max-height: 40px;
  min-height: 40px;
}

.header .logo img,
.header .logo source {
  width: 100%;
  height: 100%;
}

.header.js-nav-open .nav {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.header.js-nav-open .burger::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
}

.header.js-nav-open .burger::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 50%;
  bottom: unset;
}

.burger {
  z-index: 100;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 36px;
  min-width: 36px;
  max-height: 36px;
  min-height: 36px;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #8033FF;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.burger::before {
  top: 12px;
}

.burger::after {
  bottom: 12px;
}

.nav {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  padding: 60px 15px 200px;
  background: #EDF0F7;
  overflow: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav::before {
  z-index: -1;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #EDF0F7;
  -webkit-box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
  box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
}

.nav__background {
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.nav__item:not(:last-child) {
  margin-bottom: 30px;
}

.nav__link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #3D3131;
  font-size: 22px;
  font-weight: 350;
  line-height: 1.3;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav__link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #8033FF;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav__link:hover {
  color: #8033FF;
}

.nav__link:hover::before {
  width: 100%;
}

.language {
  position: relative;
  margin-top: 30px;
}

.language__item {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.language__item picture {
  max-width: 30px;
  min-width: 30px;
  max-height: 30px;
  min-height: 30px;
  border-radius: 100px;
  overflow: hidden;
}

.language__item picture img,
.language__item picture source {
  width: 100%;
  height: 100%;
}

.language__title {
  color: #3D3131;
  font-size: 22px;
  font-weight: 350;
  line-height: 1.3;
  margin: 0 8px;
}

.language i {
  color: #000000;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.language__list {
  display: none;
  margin-top: 20px;
}

.language.js-open .language__item.dropdown__trigger i {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.language.js-open .language__list {
  display: block;
}

.benefits {
  padding: 30px 0 0;
}

.benefits h2 {
  margin-bottom: 30px;
}

.benefits__slider {
  padding: 0 0 30px;
}

.benefits__card {
  height: 100%;
  padding: 40px 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
  box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.benefits__icon {
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
}

.benefits__background {
  display: none;
}

.contacts {
  position: relative;
  padding: 30px 0 120px;
}

.contacts h3 {
  max-width: 620px;
  margin: 0 auto 30px;
  text-align: center;
  color: #3D3131;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
}

.contacts__background {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.contacts__background img,
.contacts__background picture,
.contacts__background source {
  display: block;
  width: 100%;
}

.form {
  max-width: 500px;
  margin: 0 auto;
}

.form__field {
  position: relative;
  border-radius: 20px;
}

.form__field:not(:last-of-type) {
  margin-bottom: 20px;
}

.form__field input,
.form__field textarea {
  width: 100%;
  padding: 18px 20px;
  background: #ffffff;
  outline: none;
  border: none;
  color: #3D3131;
  font-size: 18px;
  font-weight: 350;
  line-height: 1.6;
  border-radius: 20px;
  border: 2px solid #ffffff;
}

.form__field input:focus,
.form__field textarea:focus {
  border-color: #8033FF;
}

.form__field input.js-invalid,
.form__field textarea.js-invalid {
  border-color: #FF3636;
  color: #FF3636;
}

.form__field input.js-invalid::-webkit-input-placeholder,
.form__field textarea.js-invalid::-webkit-input-placeholder {
  color: #FF3636;
}

.form__field input.js-invalid::-moz-placeholder,
.form__field textarea.js-invalid::-moz-placeholder {
  color: #FF3636;
}

.form__field input.js-invalid:-ms-input-placeholder,
.form__field textarea.js-invalid:-ms-input-placeholder {
  color: #FF3636;
}

.form__field input.js-invalid::-ms-input-placeholder,
.form__field textarea.js-invalid::-ms-input-placeholder {
  color: #FF3636;
}

.form__field input.js-invalid::placeholder,
.form__field textarea.js-invalid::placeholder {
  color: #FF3636;
}

.form__field textarea {
  resize: none;
  max-height: 230px;
  min-height: 230px;
}

.form__field .js-invalid-label {
  position: absolute;
  top: 100%;
  left: 0;
  color: #FF3636;
  font-size: 16px;
  font-weight: 350;
  line-height: 1.5;
}

.form .btn-primary {
  margin-top: 20px;
  width: 100%;
}

.hero {
  position: relative;
  text-align: center;
  padding: 108px 0 30px;
}

.hero h1 {
  max-width: 696px;
  margin: 0 auto;
  color: #3D3131;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.hero__description {
  max-width: 666px;
  margin: 0 auto;
  color: #3D3131;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
}

.hero__image {
  margin: 12px -15px 20px;
  min-height: 200px;
}

.hero__image img {
  width: 100%;
  height: 100%;
}

.hero .video {
  margin-top: 30px;
}

.plan__slider {
  padding: 100px 15px 30px;
  max-width: 1370px;
}

.plan__slider .swiper-navigation {
  margin-top: 20px;
}

.plan__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  padding: 52px 6px 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
  box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
  border-radius: 10px;
}

.plan__card:hover .plan__icon {
  -webkit-transform: translateX(-50%) scale(1.1);
  -ms-transform: translateX(-50%) scale(1.1);
  transform: translateX(-50%) scale(1.1);
}

.plan__icon {
  position: absolute;
  top: -44px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 80px;
  min-width: 80px;
  max-height: 80px;
  min-height: 80px;
  border-radius: 100px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.plan__icon img,
.plan__icon source {
  width: 100%;
  height: 100%;
}
/* .product-plan__slider .plan__card {
  flex-direction: column;
  padding: 52px 15px  50px;
} */
.product-plan__slider .plan-modal-trigger {
  color: #8033FD;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.plan-content {
  display: none;
}
.body-blackout {
  position: fixed;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
}
.body-blackout.is-blacked-out {
  opacity: 1;
  visibility: visible;
}
.plan-popup {
  z-index: 1011;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 660px;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
}
.plan-popup .plan-content {
  display: block;
}
.plan-popup.js-show {
  opacity: 1;
  visibility: visible;
}
.plan-popup__title {
  padding: 20px 20px 8px 20px;
  color: #8033FD;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
.plan-popup__close {
   position: absolute;
   right: 16px;
   top: 16px;
   width: 36px;
   height: 36px;
   background: #D9C2FE;
  border-radius: 8px;
  cursor: pointer;
}
.plan-popup__close:before, .plan-popup__close:after {
  content: '';
  width: 24px;
  height: 2px;
  background: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
}
.plan-popup__close:before {
  transform: translate(-50%, -50%) rotate(135deg);
}
.plan-popup__close:after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.plan-popup__description {
  padding: 0 20px 0 36px;
}
.plan-popup__description li {
  color: #3D3131;
  font-size: 18px;
  line-height: 1.6;
  position: relative;
}
.plan-popup__description li:before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 100%;
  position: absolute;
  left: -13px;
  top: 12px;
  background: #3D3131;
}
.plan-popup__image {
  height: 372px;
}
.plan-popup__image img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.testimonials {
  padding: 30px 0;
}
@media (max-width: 680px) {
  .plan-popup {
    width: 95%;
  }
  .plan-popup__image {
    height: unset;
    max-height: 372px;
  }
  .plan-popup__description li {
    font-size: 16px;
  }
}
.testimonials h2 {
  margin-bottom: 25px;
}
.testimonials__wrapper {
  padding: 25px 0;
}
.testimonials .swiper-navigation {
  margin-top: 0;
}
.testimonials__card {
  position: relative;
  padding: 60px 20px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
  box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
  border-radius: 20px;
}

.testimonials__card .site-description:not(:last-of-type) {
  margin-bottom: 30px;
}

.testimonials__card .icon-quote {
  position: absolute;
  top: -24px;
  left: 30px;
  max-width: 82px;
  min-width: 82px;
  max-height: 51px;
  min-height: 51px;
}

.testimonials__card .icon-quote img,
.testimonials__card .icon-quote source {
  width: 100%;
  height: 100%;
}

.testimonials__photo {
  margin: 32px auto 0;
  max-width: 110px;
  min-width: 110px;
  max-height: 110px;
  min-height: 110px;
  border-radius: 20px;
  overflow: hidden;
}

.testimonials__photo img,
.testimonials__photo source {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.testimonials__author {
  margin-top: 20px;
  color: #3D3131;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
}

.testimonials__company {
  color: #3D3131;
  font-size: 18px;
  font-weight: 350;
  line-height: 1.3;
}

.product {
  position: relative;
  padding: 60px 0 120px;
}

.product .site__title {
  margin-bottom: 48px;
}

.product .site-description {
  text-align: center;
  margin: 0 auto;
  max-width: 732px;
}

.product .video {
  margin: 60px 0;
}

.product .plan__slider {
  padding: 74px 15px;
}

.product .btn-primary {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 24px auto 0;
}

.product__background {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.product__background img,
.product__background source,
.product__background picture {
  display: block;
  width: 100%;
}

.product__background-second {
  display: none;
  z-index: -1;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

.product__background-second img,
.product__background-second source,
.product__background-second picture {
  display: block;
  width: 100%;
}

.product__offer .site__title {
  text-transform: none;
  margin-bottom: 24px;
}

.rate {
  position: relative;
  padding: 60px 0;
  overflow: hidden;
}

.rate h1 {
  margin-bottom: 36px;
}

.rate .site-description {
  text-align: center;
  max-width: 730px;
  margin: 0 auto;
}

.rate .site-description.small {
  max-width: 400px;
}

.rate .switch {
  margin: 32px 0 12px;
}

.rate__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-top: 16px;
  margin: 10px -15px 0 -15px;
}

.rate__wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 15px;
}

.rate-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 50px 0 0 0;
  height: 100%;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
  box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
}
.rate-card .btn-primary {
  padding: 14px 30px;
}
.rate-card__body {
  padding: 0 20px;
}
.rate-card__price {
  padding: 0 20px;
}
.rate-card__background {
  width: 100%;
}
.rate-card h3 {
  margin-bottom: 20px;
  color: #3D3131;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
}

.rate-card .site-description {
  margin-bottom: 20px;
  text-align: left;
}

.rate-card ul {
  margin-bottom: 32px;
}

.rate-card ul li {
  position: relative;
  padding-left: 36px;
  color: #3D3131;
  font-size: 18px;
  font-weight: 350;
  line-height: 1.5;
}

.rate-card ul li::before {
  font: 24px 'planr-icons', sans-serif;
  content: "\e903";
  color: #8033FF;
  position: absolute;
  top: 1px;
  left: 0;
  max-width: 24px;
  min-width: 24px;
  max-height: 24px;
  min-height: 24px;
}

.rate-card ul li:not(:last-child) {
  margin-bottom: 12px;
}

.rate-card .price {
  display: block;
  color: #3D3131;
  font-size: 18px;
  font-weight: 350;
  line-height: 1.5;
}

.rate-card .price strong {
  font-weight: 700;
}
.rate-card__includes strong {
  color: #8033FF;
  border-bottom: 2px solid #8033FF;
}
.rate-card .price:not(:last-child) {
  margin-bottom: 12px;
}

.rate-card .price:last-child {
  margin-bottom: 32px;
}

.rate-card .rate-card__no-price .price {
  margin-bottom: 71px;
}


.rate-card .discount {
  display: none;
}

.total-basic-wrapper.active .total-basic {
  display: none;
}
.total-basic-wrapper.active .discount-basic {
  display: block;
}

.total-pro-wrapper.active .total-pro {
  display: none;
}
.total-pro-wrapper.active .discount-pro {
  display: block;
}

.rate-card .btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0 0 20px 20px;
}
.rate-card .total {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.rate-card .total-text {
  margin-right: 8px;
}
/* .rate-card .total:before {
  content: '('
}
.rate-card .total:after {
  content: ')'
} */
.price-month-eng:after {
  content: '/month';
  font-size: 16px;
}
.price-year-eng:after {
  content: '/month';
  font-size: 16px;
}
.price-month-de:after {
  content: '/Monat';
  font-size: 16px;
}
.price-year-de:after {
  content: '/Monat';
  font-size: 16px;
}
.rate-card__background picture,
.rate-card__background img,
.rate-card__background source {
  display: block;
  width: 100%;
}

.rate .counter__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 24px 0 0;
}

.rate .counter__item:not(:last-child) {
  margin-bottom: 24px;
}

.rate__background {
  display: none;
  z-index: -1;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

.rate__background img,
.rate__background source,
.rate__background picture {
  display: block;
  width: 100%;
}

.team {
  position: relative;
  padding: 60px 0;
  overflow: hidden;
}

.team h1 {
  margin-bottom: 36px;
}

.team .site-description {
  text-align: center;
  margin: 0 auto 40px;
  max-width: 700px;
}

.team__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: -15px;
}

.team__wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 15px;
}

.team__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.team__card:hover .team__photo {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.team__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  min-height: 255px;
  background: #ffffff;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team__photo picture,
.team__photo img {
  display: block;
}

.team__name {
  margin: 20px 0 4px;
  color: #3D3131;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
}

.team__position {
  display: block;
  color: #3D3131;
  font-size: 18px;
  font-weight: 350;
  line-height: 1.2;
}

.team__background {
  display: none;
  z-index: -1;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

.team__background img,
.team__background source,
.team__background picture {
  display: block;
  width: 100%;
}

.testing {
  position: relative;
  padding: 60px 0;
}

.testing .container {
  max-width: 500px;
}

.testing h1 {
  margin-bottom: 48px;
}

.testing .site-description {
  max-width: 380px;
  margin: 0 auto 40px;
  text-align: center;
}

.testing .counter__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.testing .counter__item:not(:last-child) {
  margin-bottom: 20px;
}

.testing .birds {
  z-index: -1;
  display: none;
  position: absolute;
  top: 60px;
  right: 116px;
}

.testing__background {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.testing__background img,
.testing__background source,
.testing__background picture {
  display: block;
  width: 100%;
}

.testing .form .btn-primary {
  margin: 30px 0 30px;
  padding: 14px 0;
  width: 100%;
}

.thanks {
  position: relative;
  padding: 60px 0 120px;
}

.thanks .container {
  max-width: 360px;
}

.thanks h1 {
  margin-bottom: 48px;
}

.thanks__background {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.thanks__background img,
.thanks__background picture,
.thanks__background source {
  display: block;
  width: 100%;
}

.thanks__birds {
  z-index: -1;
  display: none;
  position: absolute;
  top: 100px;
  right: 116px;
}

.thanks__birds img,
.thanks__birds picture,
.thanks__birds source {
  display: block;
}

.thanks .site-description {
  text-align: center;
}

.thanks .site-description:not(:last-of-type) {
  margin-bottom: 8px;
}

.thanks .btn-primary {
  display: block;
  margin: 30px auto 0;
}

.modal {
  opacity: 0;
  visibility: hidden;
  z-index: 120;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  max-width: 660px;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal__container {
  position: relative;
  padding: 40px 20px;
}

.modal__container h4 {
  max-width: 230px;
  margin: 0 auto 20px;
  text-align: center;
  color: #3D3131;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.modal__container .btn-primary {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.modal__container.submit {
  display: none;
}

.modal__container.submit h4 {
  margin-bottom: 30px;
}

.modal__form {
  max-width: 500px;
  margin: 0 auto;
}

.modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 12px;
  background: #D9C2FE;
  border-radius: 8px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal__close i {
  color: #ffffff;
  font-size: 16px;
}

.modal__close:hover {
  background: #8033FF;
}

.modal .form__field {
  -webkit-box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
  box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
}

.modal.js-show {
  opacity: 1;
  visibility: visible;
}

.modal.js-submit .modal__container {
  display: none;
}

.modal.js-submit .modal__container.submit {
  display: block;
}

.counter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.counter__item .tooltip {
  position: relative;
  cursor: pointer;
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.counter__item .tooltip__trigger {
  color: #8033FF;
  font-size: 20px;
}

.counter__item .tooltip__trigger:hover + .tooltip__label {
  opacity: 1;
  visibility: visible;
}

.counter__item .tooltip__label {
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: calc(100% + 16px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 300px;
  min-width: 300px;
  width: 100%;
  height: auto;
  padding: 8px;
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
  box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
  color: #3D3131;
  font-size: 18px;
  font-weight: 350;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.counter__item .tooltip__label::before {
  content: " ";
  position: absolute;
  top: calc(100% - 2px);
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #ffffff 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
  box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
}

.counter__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.counter__text h5 {
  color: #3D3131;
  font-size: 18px;
  font-weight: 350;
  line-height: 1.5;
}

.counter__wrapper {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 2px 8px;
  max-width: 80px;
  min-width: 80px;
  max-height: 45px;
  min-height: 45px;
  background: #ffffff;
  border-radius: 10px;
}

.counter__input {
  margin-right: 8px;
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  color: #3D3131;
  font-size: 18px;
  font-weight: 350;
  line-height: 1.5;
  -moz-appearance: textfield;
}

.counter__input::-webkit-outer-spin-button,
.counter__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.counter__plus,
.counter__minus {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.counter__plus i,
.counter__minus i {
  color: #3D3131;
  font-size: 20px;
}

.counter__plus.counter__plus,
.counter__minus.counter__plus {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.switch__text {
  color: #3D3131;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.switch__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.switch__label {
  cursor: pointer;
  position: relative;
  max-width: 60px;
  min-width: 60px;
  max-height: 30px;
  min-height: 30px;
  margin: 0 20px;
  background: #ffffff;
  border-radius: 20px;
}

.switch__label::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  max-width: 26px;
  min-width: 26px;
  max-height: 26px;
  min-height: 26px;
  background: #8033FF;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.switch__label.js-toggle::before {
  left: calc(100% - 28px);
}



@media screen and (min-width: 640px) {
  .team__wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .modal__container h4 {
    max-width: 100%;
    font-size: 26px;
  }
}

@media screen and (min-width: 992px) {
  .rate-card__price {
    padding: 0 20px;
    margin-top: auto;
  }
  
  .rate-card__background {
    width: 100%;
    height: 214px;
    display: flex;
    align-items: flex-end;
  }
  .site__title {
    font-size: 56px;
  }

  .video__play-content {
    padding: 26px 48px;
    border-radius: 20px;
  }

  .video__play-content i {
    font-size: 30px;
  }

  .footer .container {
    padding: 0 15px;
  }

  .footer .logo {
    margin: 0 auto 40px 0;
  }

  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
  }

  .footer__software,
  .footer__copyright {
    margin: 0 0 0 auto;
  }

  .header .logo {
    max-width: 134px;
    min-width: 134px;
    max-height: 74px;
    min-height: 74px;
  }

  .burger {
    display: none;
  }

  .nav {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    position: relative;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0;
    overflow: unset;
  }

  .nav::before {
    display: none;
  }

  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .nav__item:not(:last-child) {
    margin: 0 50px 0 0;
  }

  .nav__link {
    font-size: 18px;
  }

  .nav__background {
    display: none;
  }

  .language {
    margin: 0 0 0 50px;
  }

  .language__item {
    padding: 10px 15px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .language__title {
    font-size: 18px;
    margin: 0 4px 0 8px;
  }

  .language__list {
    opacity: 0;
    visibility: hidden;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .language.js-open .language__item.dropdown__trigger {
    background: #D8CAF9;
  }

  .language.js-open .language__list {
    opacity: 1;
    visibility: visible;
  }

  .benefits {
    position: relative;
    padding: 65px 0 0;
  }

  .benefits__slider {
    padding: 0 0 65px;
  }

  .benefits__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 30px;
  }

  .benefits .swiper-navigation {
    display: none;
  }

  .benefits__background {
    display: block;
    position: absolute;
    top: -216px;
    left: 0;
    z-index: -1;
    width: 100%;
  }

  .benefits__background img,
  .benefits__background source {
    width: 100%;
    height: 100%;
  }

  .contacts h3 {
    margin-bottom: 50px;
  }

  .form__field:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .form .btn-primary {
    margin-top: 30px;
  }

  .plan__card {
    padding: 52px 15px 30px;
  }

  .plan__icon {
    top: -84px;
    max-width: 120px;
    min-width: 120px;
    max-height: 120px;
    min-height: 120px;
  }

  .hero {
    margin-top: 80px;
    padding: 80px 0 65px;
  }

  .hero h1 {
    margin-bottom: 636px;
    font-size: 45px;
  }

  .hero__description {
    font-size: 26px;
  }

  .hero__image {
    z-index: -1;
    margin: 0;
    position: absolute;
    top: 128px;
    left: 0;
    width: 100%;
  }

  .hero .plan__slider {
    margin-top: 136px;
  }

  .testimonials {
    padding: 65px 0;
  }

  .testimonials__card {
    max-width: calc(100% - 160px);
    padding: 60px 80px 60px 70px;
  }

  .testimonials__photo {
    margin: 0;
    position: absolute;
    top: 50%;
    left: calc(100% - 50px);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 210px;
    min-width: 210px;
    max-height: 210px;
    min-height: 210px;
  }

  .product {
    margin-top: 94px;
    padding: 100px 0 374px;
  }

  .product__background-second {
    display: block;
  }

  .product__offer .site-description {
    max-width: 366px;
  }

  .product .video {
    margin: 100px 0;
  }

  .product .plan__slider {
    padding: 136px 15px;
  }

  .rate {
    margin-top: 94px;
    padding: 100px 0;
  }

  .rate__wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .rate__background {
    display: block;
  }

  .rate .counter__table {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .rate .counter__item:not(:last-child) {
    margin: 0 60px 0 0;
  }

  .team {
    margin-top: 94px;
    padding: 100px 0 130px;
  }

  .team h1 {
    margin-bottom: 48px;
  }

  .team .site-description {
    margin-bottom: 64px;
  }

  .team__table {
    margin: -30px -15px;
  }

  .team__wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 30px 15px;
  }

  .team__background {
    display: block;
  }

  .testing {
    margin-top: 94px;
    padding: 100px 0 576px;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .testing .birds {
    display: block;
  }

  .thanks {
    margin-top: 94px;
    padding: 100px 0 576px;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .thanks .container {
    max-width: 414px;
  }

  .thanks__birds {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .team__wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 1440px) {
  .plan__slider {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 992px) {
  .rate-card .rate-card__no-price .price {
    margin-bottom: 32px;
  }  
}